/*landing page*/
.landing {
  width: 100%;
  height: 100%;
  background-image: url("/asset/bg-landing.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
}

.ua-logo {
  width: 100%;
}

.ua-logo-container {
  padding-top: 30%;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

.app-name {
  font-family: "SF Pro Display", sans-serif;
  color: white;
  font-size: 19px;
  letter-spacing: 3px;
  margin-top: 0;
}

.ui.white.fluid.button {
  background: white;
  margin-top: 5%;
  border-radius: 5px;
  font-size: 18px;
}

.button-container {
  font-size: 16px;
  color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40%;
}
/*landing page*/

/*nav bar*/
.nav-bar {
  background: #0033aa;
  height: 64px;
}

.nav-bar-button {
  font-size: 18px;
  padding-top: 23px;
  width: 65px;
  display: inline-block;
}

.nav-bar-button > a {
  color: white;
}

.nav-bar-logo {
  display: inline-block;
  width: 110px;
  float: right;
  padding: 23px 10px 0 0;
}
/*nav bar*/

.main {
  width: 90%;
  margin: 20px auto 0 auto;
}

.main > h1 {
  color: #0033aa;
  font-weight: normal;
  margin: 0;
}

.main > form > h1 {
  color: #0033aa;
  font-weight: normal;
  margin: 0;
}

.main > .ui.input {
  padding-top: 10px;
}

.bottom-button {
  width: 100%;
  margin: 10px auto;
  padding-bottom: 10px;
}

.bottom-fixed-button {
  width: 90%;
  position: absolute;
  bottom: 20px;
  left: 5%;
}

.ui.button.ua-blue {
  color: #fff;
  background: #0033aa;
  font-size: 20px;
}

#cards {
  width: 100%;
  margin: 10px auto;
}

.ui.raised.card {
  width:100%;
}

.card-image {
  width: 100%;
  height: 337px;
  overflow: hidden;
}

.ui.fluid.buttons {
  padding-top: 10px;
}

/*add new bag*/
.upload-image {
  width: 120px;
  margin: 30px auto;
}

.upload-image > img {
  padding: 10px;
  width: 120px;
  border: solid 3px #0033aa;
  border-radius: 20px;
}

#preview {
  width: 300px;
  margin: 10px auto;
}

#preview > img {
  width: 300px;
}